
h1 {
    color: white;
    background-color: black;
    width: 300px;
    margin: 0 auto;
}
header {
    background-color: black;
    padding-bottom: 20px;
    padding-top: 10px;
}

#div1 {
    background-color: lightgrey;
    position: relative;
    float: left;
    width:  100px;
    height: 300px;

}

footer{
    text-align: center;
    background-color: black;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 65px;
}

#d1 {
top:10px;
left:150px;
margin-left: 200px;
}

